.game-div {
    display: flex;
    height: 100vh;
    background-color: rgb(109, 217, 134);
}

.board-div {
    display: inline-block;
    margin: 5%;
    margin-bottom: 0%;
    position: relative;
    width: 70%;
    height:fit-content;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(214, 255, 224);
    border-radius: 2%;
}

@media only screen and (max-width: 1000px) {
    .board-div {
        margin: 10% auto;
        z-index: 1;
    }
}